// Colors
$primary: #d30000

$btnRed: #F53838
$lightRed: #FFECEC 
$bgRed: #F53838 

$whites: #ffffff

$greys: #a6a6a6
$lightGrey: #C4C4C4
$liteGrey: #AFB5C0
$normalGrey: #D4D4D4
$bgGrey: #F6F6F6
$descGrey: #F0F0F0
$textGrey: rgba(50, 50, 50, 0.4)

$blacks: #323232
$pureBlack: #000000
$darkBlack: #0B132A
$lightBlack: #4F5665
$smallTitle: #4E4E4E

$blueLink: #2671FF
$bluehref: #115DF1


// Bootstrap customize

//Accordion
$accordion-button-icon: url("../icons/accordion-icon.png")
$accordion-button-active-icon: url("../icons/accordion-icon.png")
