// Colors
$primary: #d30000

$btnRed: #F53838
$lightRed: #FFECEC  

$whites: #ffffff

$greys: #a6a6a6
$lightGrey: #C4C4C4
$liteGrey: #AFB5C0
$normalGrey: #D4D4D4
$bgGrey: #F6F6F6

$blacks: #323232
$pureBlack: #000000
$darkBlack: #0B132A
$lightBlack: #4F5665

$blueLink: #2671FF
$bluehref: #115DF1

